/* ANIMATIONS */

#asterisk {
  opacity: 0;
  transform-origin: 50% 4%;
  animation: spin 0.5s forwards;
  animation-delay: 0.3s;
}

#asterisk::before,
#asterisk::after {
  transform-origin: center center;
  animation: grow 0.5s forwards;
  animation-delay: 0.8s;
}

.center p {
  transform: translateY(-40px);
  opacity: 0;
  animation: fadeDown 0.9s forwards;
  animation-delay: 1.3s;
}

.center h2 {
  transform: scale(2);
  opacity: 0;
  animation: fade 0.5s forwards;
}

.center h1 {
  transform: translateY(40px);
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.3s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
