body {
  background-color: #282a2d;
  color: white;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
  margin: 0;
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}
.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.site-wrap.show-all {
  transform: rotateY(-15deg) scale(0.2);
}
.panel-wrap {
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 10vmin;
  margin: 0;
  text-shadow: 1px 1px 50px #333;
}
.panel-wrap {
  perspective: 2000px;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.panel {
  height: 100vh;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}
.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}
.show-all .panel:before {
  pointer-events: all;
}
.show-all .panel:hover:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.panel h1 {
  cursor: default;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
}
.panel[data-x-pos="-2"] {
  left: -200%;
}
.panel[data-x-pos="-1"] {
  left: -100%;
}
.panel[data-x-pos="1"] {
  left: 100%;
}
.panel[data-x-pos="2"] {
  left: 200%;
}
.panel[data-y-pos="-2"] {
  top: 200%;
}
.panel[data-y-pos="-1"] {
  top: 100%;
}
.panel[data-y-pos="1"] {
  top: -100%;
}
.panel[data-y-pos="2"] {
  top: -200%;
}
.panel__zoom {
  cursor: pointer;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  text-shadow: 1px 1px 1px #444;
  user-select: none;
  z-index: 10;
}
.panel__zoom:hover {
  opacity: 1;
}
.show-all .panel__zoom {
  pointer-events: none;
}
.panel__nav {
  cursor: pointer;
  opacity: 0.4;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
  will-change: opacity;
}
.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}
.panel__nav--left {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}
.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}
.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}
.panel__nav--right {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg) translateX(100%);
  transform-origin: top right;
}
.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}
.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}
.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.panel__nav:hover {
  opacity: 1;
}
.inicio {
  background: purple;
  background-image: url("https://source.unsplash.com/1600x900/?restaurant");
  background-size: cover;
}
.concepto {
  background: #bb48bb;
}
.nosotros {
  background: #680168;
}
.contacto {
  background: #3f003f;
}
.restaurantes {
  background: #fab055;
}
.sabores {
  background: #f59f00;
}
.galeria {
  background: #e67700;
}
.reserva {
  background: #adb5bd;
}
.menu {
  background: #495057;
  .container {
    .menu-display {
      box-shadow: 0 0 25px 0 #181818;
      background: whitesmoke;
      height: 95%;
      margin: auto;
      display: grid;
      text-align: center;
      overflow-y: auto;
      @media (min-width: 62rem) {
        grid-template-columns: repeat(3, 1fr);
      }

      > div {
        padding: 2rem 1rem;
        box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741,
          inset 0 0 0 18px #fff, inset 0 0 0 19px #c59d5f, inset 0 0 0 20px #fff,
          inset 0 0 0 21px #ae8639;
      }
      .contenido {
        padding: 0 1rem;
        color: black;
        font-family: "Raleway";
        text-transform: none;
        h4 {
          margin: 0 0 20px 0;
          font-size: 16px;
          font-family: "Oswald", sans-serif;
          padding-bottom: 10px;
          color: #323b4c;
          border-bottom: 4px double #323b4c;
          border-width: 80%;
          text-shadow: 1px 1px 0 #fff, 2px 2px 0 #e6b741;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        dl {
          padding: 0;
        }
        dt {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 700;
        }
        dd {
          margin: 0;
          font-size: 10px;
          padding: 4px 5px 15px 5px;
          font-weight: 400;
        }
        .catering {
          padding: 0.5rem;
          background: rgb(197, 157, 95);
          border-radius: 5px;
          font-size: 10px;
          box-shadow: 0px 0px 5px black;
        }
      }
    }
  }
}
.facturacion {
  background: #212529;
}

.container {
  position: relative;
  background: rgba(203, 203, 203, 0.5);
  box-sizing: border-box;
  margin: 40px;
  padding: 2rem;
  height: 90%;
}
