@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
body {
  background-color: #282a2d;
  color: white;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
  margin: 0;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  text-transform: uppercase;
}

.site-wrap {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.site-wrap.show-all {
  -webkit-transform: rotateY(-15deg) scale(0.2);
          transform: rotateY(-15deg) scale(0.2);
}

.panel-wrap {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 10vmin;
  margin: 0;
  text-shadow: 1px 1px 50px #333;
}

.panel-wrap {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.panel {
  height: 100vh;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100vw;
  will-change: transform;
}

.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: 2;
}

.show-all .panel:before {
  pointer-events: all;
}

.show-all .panel:hover:before {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.panel h1 {
  cursor: default;
  left: 50%;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel[data-x-pos="-2"] {
  left: -200%;
}

.panel[data-x-pos="-1"] {
  left: -100%;
}

.panel[data-x-pos="1"] {
  left: 100%;
}

.panel[data-x-pos="2"] {
  left: 200%;
}

.panel[data-y-pos="-2"] {
  top: 200%;
}

.panel[data-y-pos="-1"] {
  top: 100%;
}

.panel[data-y-pos="1"] {
  top: -100%;
}

.panel[data-y-pos="2"] {
  top: -200%;
}

.panel__zoom {
  cursor: pointer;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
          transform: translateX(-50%) translateY(-50%) translateY(-12vmin);
  -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  text-shadow: 1px 1px 1px #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.panel__zoom:hover {
  opacity: 1;
}

.show-all .panel__zoom {
  pointer-events: none;
}

.panel__nav {
  cursor: pointer;
  opacity: 0.4;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  -webkit-transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: opacity;
}

.panel__nav--up {
  left: 50%;
  top: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.panel__nav--left {
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg) translateX(-100%);
          transform: translateY(-50%) rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}

.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}

.panel__nav--right {
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg) translateX(100%);
          transform: translateY(-50%) rotate(90deg) translateX(100%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}

.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}

.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.panel__nav:hover {
  opacity: 1;
}

.inicio {
  background-image: url("/img/gb-bg.jpg");
  background-size: cover;
  background: #181818;
}

.inicio .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.concepto {
  background: #bb48bb;
}

.nosotros {
  background: #680168;
}

.contacto {
  background: #3f003f;
}

.restaurantes {
  background-image: url("https://source.unsplash.com/1600x900/?sailing");
  background-size: cover;
}

.restaurantes .navega {
  text-shadow: 1px 1px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantes .navega h2 {
  display: block;
  font-size: 3rem;
}

.restaurantes .navega .bb-restaurantes {
  -webkit-box-shadow: 0 0 25px -5px black;
          box-shadow: 0 0 25px -5px black;
  background: teal;
  width: 20rem;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.restaurantes .navega .bb-restaurantes li {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.restaurantes .navega .bb-restaurantes li:hover {
  background: #006486;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.restaurantes .navega .bb-restaurantes li:hover a {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.restaurantes .navega .bb-restaurantes li a {
  text-decoration: none;
  color: white;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.sabores {
  background: #f59f00;
}

.galeria {
  background: #e67700;
}

.reserva {
  background: #adb5bd;
}

.menu {
  background: #495057;
}

.menu .container {
  padding: 1rem;
}

@media (min-width: 420px) {
  .menu .container {
    padding: 2rem;
  }
}

.menu .container .menu-display {
  -webkit-box-shadow: 0 0 25px 0 #181818;
          box-shadow: 0 0 25px 0 #181818;
  background: whitesmoke;
  height: 95%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  text-align: center;
  overflow-y: auto;
}

@media (min-width: 62rem) {
  .menu .container .menu-display {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.menu .container .menu-display > div {
  padding: 2rem 1rem;
  -webkit-box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741, inset 0 0 0 18px #fff, inset 0 0 0 19px #c59d5f, inset 0 0 0 20px #fff, inset 0 0 0 21px #ae8639;
          box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741, inset 0 0 0 18px #fff, inset 0 0 0 19px #c59d5f, inset 0 0 0 20px #fff, inset 0 0 0 21px #ae8639;
}

.menu .container .menu-display .contenido {
  padding: 0 1rem;
  color: black;
  font-family: "Raleway";
  text-transform: none;
}

.menu .container .menu-display .contenido h4 {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  padding-bottom: 10px;
  color: #323b4c;
  border-bottom: 4px double #323b4c;
  border-width: 80%;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #c59d5f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu .container .menu-display .contenido dl {
  padding: 0;
}

.menu .container .menu-display .contenido dt {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu .container .menu-display .contenido dd {
  margin: 0;
  font-size: 10px;
  padding: 4px 5px 15px 5px;
  font-weight: 400;
}

.menu .container .menu-display .contenido .catering {
  padding: 0.5rem;
  background: #c59d5f;
  border-radius: 5px;
  font-size: 10px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.facturacion {
  background: #212529;
}

.container {
  position: relative;
  /*background: rgba(203, 203, 203, 0.5);*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px;
  padding: 2rem;
  height: 90%;
}
/*# sourceMappingURL=granbarra.css.map */