@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
html {
  box-sizing: border-box;
  font-family: "Montserrat";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f1f1f1;
  background-image: url("../img/charcoal.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading-group {
  text-align: center;
}
@media (min-width: 50rem) {
  .heading-group {
    margin-top: 4rem;
    margin-bottom: -3rem;
  }
}

.heading {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  margin: 2vmin 3vmin;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: 2rem;
}
@media (min-width: 24rem) {
  .heading {
    font-size: 2.2rem;
  }
}
@media (min-width: 30rem) {
  .heading {
    font-size: 3rem;
  }
}
@media (min-width: 45rem) {
  .heading {
    font-size: 4.5rem;
  }
}

.subheading {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
}
@media (min-width: 24rem) {
  .subheading {
    font-size: 1rem;
  }
}
@media (min-width: 30rem) {
  .subheading {
    font-size: 1.3rem;
  }
}
@media (min-width: 45rem) {
  .subheading {
    font-size: 1.7rem;
  }
}

.card-container {
  position: relative;
  width: 90vw;
  height: 80vmin;
  padding: 0 5vw;
}
.card-container svg {
  width: 100%;
}
